:host {
  position: fixed;
  inset: 0;
  z-index: 999999;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.45);

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: white;
  padding: 30px;
  border-radius: 18px;
  width: 420px;
  max-width: 90%;
  text-align: center;

  position: relative;
  z-index: 1000000;
  box-shadow: 0 25px 50px rgba(0,0,0,.25);
}

.modal.success {
  border-top: 6px solid #2e7d32;
}

.icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
}

.icon.success {
  background: #e6f7ee;
  color: #2e7d32;
}

.note {
  margin-top: 10px;
  color: #666;
}

button {
  margin-top: 20px;
  padding: 10px 25px;
  border-radius: 20px;
  background: #8b0000;
  color: white;
  border: none;
}
