version: '3.9'

services:
  mysql:
    image: mysql:8
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: laravel_db
      MYSQL_USER: laravel_user
      MYSQL_PASSWORD: laravel_pass
    volumes:
      - mysql_data:/var/lib/mysql
    ports:
      - "3306:3306"   # OK si besoin d'accès local
    networks:
      - app_net

  ollama:
    image: ollama/ollama
    container_name: ollama
    restart: always
    volumes:
      - ollama_data:/root/.ollama
    networks:
      - app_net
    # ❌ PAS de ports en prod (sécurité)

volumes:
  mysql_data:
  ollama_data:

networks:
  app_net:
    driver: bridge
