version: '3.9'

services:

  frontend:
    build: ./frontend
    container_name: angular_app
    ports:
      - "4200:80"
    depends_on:
      - backend

  backend:
    build: ./backend
    container_name: laravel_app
    ports:
      - "8000:80"
    environment:
      DB_HOST: mysql
      DB_DATABASE: laravel_db
      DB_USERNAME: laravel_user
      DB_PASSWORD: laravel_pass
    depends_on:
      - mysql

  mysql:
    image: mysql:8
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: laravel_db
      MYSQL_USER: laravel_user
      MYSQL_PASSWORD: laravel_pass
    ports:
      - "3306:3306"
    volumes:
      - ./mysql_data:/var/lib/mysql
