/* CONTAINER */
.hero-container {
  display: flex;
  justify-content: space-between;
  padding: 60px 40px;
}

/* TEXTE À GAUCHE */
.hero-text {
  max-width: 45%;
}

.hero-title {
  font-size: 48px;
  font-weight: 700;
  color: #3a3322;
}

.hero-subtitle {
  font-size: 18px;
  color: #ded4bc;
  margin-bottom: 20px;
}

/* BOUTON PERSONALISÉ */
.hero-btn {
  background-color: #b5986d;
  border: none;
  padding: 12px 25px;
  border-radius: 30px;
  font-weight: bold;
}

/* IMAGES À DROITE */
.hero-images img {
  width: 70%;
  margin-left: -20px;
}

/* ANIMATION */
.hero-image {
  width: 70%;
}

.slide-in-right {
  opacity: 0;
  transform: translateX(100px);
  animation: slideRight 1.5s ease-out forwards;
}

@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
