<nav class="navbar navbar-expand-lg custom-navbar">
  <div class="container-fluid">

    <!-- LOGO À GAUCHE -->
    <a class="navbar-brand" href="#">
      <img src="assets\images\logo2-removebg-preview.png" class="logo">
    </a>

    <!-- BUTTON MOBILE -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
            data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" href="#" ><button class="btn ">
Accueil</button></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#"><button class="btn">Fonctionnalités</button></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#"><button class="btn">A propos de nous</button></a>
        </li>
      </ul>
    </div>

  </div>
</nav>
