.vehicle-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.55);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000 !important; /* Overlay au-dessus du site */
}

.modal {
  position: relative;
  background: white;
  width: 520px;
  padding: 30px;
  border-radius: 14px;
  z-index: 3000 !important; /* Modal au-dessus de l'overlay */
  box-shadow: 0 10px 35px rgba(0, 0, 0, 0.2);
}




.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.close-btn {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

label {
  font-weight: 600;
  margin-bottom: 6px;
}

input, select {
  height: 42px;
  border-radius: 8px;
  border: 1px solid #dcdcdc;
  padding: 0 12px;
  font-size: 16px;
}

.row-2 {
  display: flex;
  gap: 18px;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  gap: 14px;
  margin-top: 20px;
}

.cancel {
  padding: 10px 24px;
  border: 1px solid #ccc;
  background: white;
  border-radius: 8px;
  cursor: pointer;
}

.confirm {
  padding: 10px 24px;
  background: #0a4a2a;
  color: white;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
