<div class="hero-container d-flex align-items-center">

  <!-- SECTION TEXTE À GAUCHE -->
 

  <!-- SECTION IMAGES À DROITE -->
  <div class="hero-images d-flex justify-content-end">
    <img src="assets/images/car.png"  class="hero-image slide-in-right">
    <img src="assets/images/car2.png" class="hero-image slide-in-right">
    <img src="assets/images/car3.png" class="hero-image slide-in-right">
  </div>
 <div class="hero-text">
    <h1 class="hero-title">Votre Aventure Commence Ici.</h1>
    <p class="hero-subtitle">
      Explorez le monde avec la liberté d'un véhicule parfait,<br>
      sélectionné en toute simplicité.
    </p>

    <button class="btn btn-primary btn-lg hero-btn">Réserver Maintenant</button>
  </div>
</div>
