<div class="sidebar">

  <!-- Logo -->
  <div class="logo-box">
    <div class="logo-circle">LP</div>
    <div class="logo-text">
      <h3>Location</h3>
      <p>Premium</p>
    </div>
  </div>

  <!-- Navigation -->
  <nav class="nav-menu">
  <a routerLink="/dashboard" routerLinkActive="active">0
    <span class="icon">📊</span> Tableau de Bord
  </a>

  <a routerLink="/vehicles" routerLinkActive="active">
    <span class="icon">🚗</span> Véhicules
  </a>

  <a routerLink="/reservations" routerLinkActive="active">
    <span class="icon">📅</span> Réservations
  </a>
</nav>


  <!-- Logout -->
  <button class="logout-btn">
    <span class="icon">↩️</span> Déconnexion
  </button>

</div>
