.reservation-page {
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

/* ===== HEADER ===== */
.reservation-header {
  display: flex;
  gap: 40px;
  background: white;
  border-radius: 24px;
  padding: 30px;
}

/* Image */
.vehicle-image {
  width: 50%;
  text-align: center;
  position: relative;
}

.vehicle-image img {
  max-width: 100%;
  height: auto;
}

.arrows {
  margin-top: 10px;
  color: #b08b57;
  font-size: 24px;
}

/* Résumé */
.summary-card {
  width: 50%;
  padding: 20px 30px;
}

.summary-card span {
  color: #888;
}

.summary-card .row {
  display: flex;
  justify-content: space-between;
  margin: 8px 0;
}

.summary-card h3 {
  margin-top: 20px;
  color: #b08b57;
}

/* ===== FORM ===== */
.form-card {
  background: white;
  border-radius: 24px;
  padding: 30px;
}
.form-card h2 {
  margin-top: 40px;      /* espace AVANT le titre */
  margin-bottom: 20px;   /* espace APRÈS le titre */
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

input {
  padding: 12px;
  border-radius: 12px;
  border: 1px solid #ddd;
}

.payment-boxes {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.payment-box {
  flex: 1;
  padding: 20px;
  border-radius: 16px;
  border: 2px solid #ddd;
  cursor: pointer;
}

.payment-box.active {
  border-color: #8b0000;
}

/* Actions */
.actions {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.btn-outline {
  padding: 10px 25px;
  border-radius: 20px;
  border: 1px solid #aaa;
  background: transparent;
}

.btn-primary {
  padding: 10px 30px;
  border-radius: 20px;
  background: #8b0000;
  color: white;
  border: none;
}
