.dashboard {
  padding: 20px;
}

/* —————— CARDS —————— */
.stats-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 18px;
  margin-bottom: 30px;
}

.stat-card {
  background: white;
  padding: 22px;
  border-radius: 18px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

.stat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  font-size: 22px;
}

.variation {
  color: #555;
  font-size: 13px;
}

.label {
  color: #7a7a7a;
  margin-top: 10px;
}

.value {
  margin-top: 5px;
  font-size: 25px;
  font-weight: bold;
  color: #0b3b2e;
}

/* —————— GRAPHIQUES —————— */
.charts-row {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  margin-bottom: 30px;
}

.chart-card {
  background: white;
  padding: 20px;
  border-radius: 18px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

.chart-card.full {
  margin-top: 20px;
}
.chart-usage {
  margin-top: 0px;   /* Ajuste la valeur jusqu’à obtenir l’alignement parfait */
}